html {
  background: #141414;
  height: 100%;
  width: 100%;
  color: #e5e5e5;
}
.header {
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #e5e5e5;
  background: rgba($color: #141414, $alpha: 0.4); //   width: 100%;
  font-size: 0.7rem;
  .logo {
    align-self: center;
    margin-left: 1rem;
    img {
      height: 2rem;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: row;

    align-items: center;
    .dropdown {
      display: none;
    }
    .nav-link {
      margin: 0 0.5rem;
      a {
        text-decoration: none;
        color: #e5e5e5;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .nav-tools {
    display: flex;
    align-items: center;
    .tools {
      margin: 0 0.5rem;
    }
    .fa-caret-down {
      margin-right: 0.5rem;
    }
    img {
      height: 3rem;
    }
  }
}
.index {
  background: #141414;
  height: 100%;
  margin: 5rem 0;
  .home {
    margin: 3rem 0 0 3rem;

    .heading,
    h5 {
      margin: 2rem 0 0.5rem 0;
      display: block;
      color: #e5e5e5;
      font-size: 0.8rem;
    }
    .slider {
      display: flex;

      width: 100%;
      overflow: scroll;
      overflow-y: hidden;

      .movie {
        display: inline;
        position: relative;
        height: 150px;
        div {
          width: 8rem;
          visibility: hidden;
          text-align: center;

          span {
            font-size: 0.8rem;
          }
        }
      }
    }
    .continue {
      overflow: hidden;
    }
  }
}

@media only screen and (min-width: 900px) {
  .slider {
    .movie {
      height: 200px !important;
      width: 200px !important;
    }
  }
}

@media only screen and (max-width: 625px) {
  /* For mobile phones: */
  .header {
    .nav-items {
      flex-shrink: 20;
      .dropdown {
        display: inline-flex;
        margin-right: 2rem;
        .dropdown-toggle {
          background: #141414;
          border: none;
        }
      }
      .nav-link {
        display: none;
      }
    }
    .nav-tools {
      display: none;
    }
  }
}
